{{define "header"}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <title></title>

</head>
<body>
<div class="container-fluid col-10">
{{end}}

{{define "content"}}
{{ template "header"}}
<html>
<div class="card">
  <img class="card-img-top" src="{{index .ID 2}}" alt="Card image cap">
  <div class="card-block">
    <p class="card-text">{{.Text}}</p>
  </div>
</div>

<div class="card-deck">
    <div class="card ">
    <img class="card-img-top" src="http://t00.deviantart.net/GDmmjJojf1n1ddyhAi03EcNMKKs=/300x200/filters:fixed_height(100,100):origin()/pre03/ca8b/th/pre/i/2010/279/c/0/city_of_angels_by_apollonui-d308kfn.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{index .Choices 0}}</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer"><form action="/api" method="POST">
    <button class="btn btn-primary" type="submit" name="choice" value="{{index .ID 0}}">{{index .Choices 0}}</button> 
    </form>
    </div>
  </div>
 
      <div class="card ">
    <img class="card-img-top" src="http://t00.deviantart.net/GDmmjJojf1n1ddyhAi03EcNMKKs=/300x200/filters:fixed_height(100,100):origin()/pre03/ca8b/th/pre/i/2010/279/c/0/city_of_angels_by_apollonui-d308kfn.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{index .Choices 1}}</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer"><form action="/api" method="POST">
    <button class="btn btn-primary" type="submit" name="choice" value="{{index .ID 1}}">{{index .Choices 1}}</button> 
    </form>
    </div>
  </div>
</div>
</html>
{{ template "footer"}}
{{end}}

{{define "footer"}}
</div>
</body>
</html>
{{end}}